<h1>{{title}}</h1>
<ul *ngIf="author$ | async as author">
  <!--use "as" keyword method-->
  <li>{{ author.name }}</li>
  <li>{{ author.sex }}</li>
  <li>{{ author.title }}</li>
</ul>
<p>{{author$ | async | json}}</p>
<button (click)="ngOnDestroy()">Go Offline</button>
<ul>

  <li *ngFor="let course of courses; let i=index">
    {{course.name || course}}
    <button (click)="update(course,i)">Update</button>
    <button (click)="delete(i)">Delete</button>
  </li>

</ul>
<label>Insert Course:</label>
<input type="text" (keyup.enter)="add(course)" #course>

<p>With Async pipe</p>
<ul>
  <li *ngFor='let book of books$ | async'>{{book}}</li>
</ul>
<router-outlet></router-outlet>
<!--async pipe will automatically unwrap the Observable and get the latest values and the component
 will be going to be destroyed and automatically unsubscribe this subscription,async piple prevent the memory leak-->